<section layout="row" layout-sm="column" layout-align="space-between center" class="md-padding" flex="75">

    <div layout="column" flex="20" layout-align="space-between end">
        <md-button class="md-raised md-primary" ng-click="vm.generateToken()">Gerar Token</md-button>
    </div>
    <div layout="column" layout-align="end" flex="33">
        <div layout-align="space-between stretch">
             Token: {{vm.token}}
        </div>
        <div layout="column" flex="50">
            <span ng-if="!vm.expired">Token expira em: {{vm.second}} segundos.</span>
            <span ng-if="vm.expired">Token expirado, favor gerar novamente.</span>
        </div>
    </div>


</section>